################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Prueba.NET/v17
/SalesSystem LAST/SalesSystem/obj/project.assets.json
/SalesSystem LAST/SalesSystem/obj/project.nuget.cache
/SalesSystem LAST/SalesSystem/obj/SalesSystem.csproj.nuget.dgspec.json
/SalesSystem LAST/SalesSystem/obj/SalesSystem.csproj.nuget.g.props
/SalesSystem LAST/SalesSystem/bin/Debug/net6.0/appsettings.json
/SalesSystem LAST/SalesSystem/bin/Debug/net6.0/SalesSystem.dll
/SalesSystem LAST/SalesSystem/bin/Debug/net6.0/SalesSystem.exe
/SalesSystem LAST/SalesSystem/bin/Debug/net6.0/SalesSystem.pdb
/SalesSystem LAST/SalesSystem/bin/Debug/net6.0/SalesSystem.staticwebassets.runtime.json
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/ref/SalesSystem.dll
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/refint/SalesSystem.dll
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/apphost.exe
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/project.razor.vs.bin
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.AssemblyInfo.cs
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.AssemblyInfoInputs.cache
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.assets.cache
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.csproj.AssemblyReference.cache
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.csproj.CoreCompileInputs.cache
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.csproj.FileListAbsolute.txt
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.dll
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.GeneratedMSBuildEditorConfig.editorconfig
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.genruntimeconfig.cache
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.MvcApplicationPartsAssemblyInfo.cs
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.pdb
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.RazorAssemblyInfo.cs
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/SalesSystem.sourcelink.json
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/staticwebassets.build.json
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/staticwebassets.development.json
/SalesSystem LAST/SalesSystem/obj/Debug/net6.0/staticwebassets.pack.json
